.ticker-wrap {
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  max-width: 100%;
  position: relative;
  height: 120px;
}
.ticker {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  will-change: transform;
}
.ticker-item {
  height: 120px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
}
