.ticker-wrap {
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 6px 10px;
  font-size: 1rem;
  width: 100%;
  position: relative;
  height: 80px;
}
.ticker {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
  height: 100%;
  will-change: transform;
}
.ticker-item {
  height: 80px;
  min-width: 420px;
  max-width: 500px;
  margin: 0;
  padding: 0 16px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-right: 1px solid #333;
  flex-shrink: 0;
}
