@page "/"

<h1 class="text-center mt-5">Welcome to SeatingChartApp!</h1>

<p class="lead text-center">Plan your event seating quickly and easily.</p>

<div class="d-flex justify-content-center mt-4 gap-3">
    <NavLink class="btn btn-primary btn-lg" href="/guestlist">
        Get Started - Add Guest List
    </NavLink>

    <NavLink class="btn btn-success btn-lg" href="/seatingplan">
        View Seating Plan
    </NavLink>

    <NavLink class="btn btn-primary btn-lg" href="/lunch">
        Lunch Menu
    </NavLink>
</div>
